/*colors:
  323A42 - Navy Blue
  465058 - lighter Blue
  A6A5A1 - Gray
  F2ECE9 - light Gray
  EB242A - Red
*/


.App {
  text-align: center;
}

.App-loading-logo {
  /*position: fixed;*/
  margin-top: 200px;
  width: 300px;
  height: auto;
}

.App-loading-logo:hover {
  animation: App-logo-spin infinite 20s linear;
  opacity: .8;
  cursor: pointer;
}


.App-header {
  background-color: #323A42;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
