/*colors:
  323A42 - Navy Blue
  465058 - lighter Blue
  A6A5A1 - Gray
  F2ECE9 - light Gray
  EB242A - Red
*/

.Bio-container {
    color: #323A42; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: -10px 25px;
    margin-bottom: 100px;
 }

.Bio-profile-pic {
    margin-top: 50px;
    flex: 1;
}

.Bio-profile-pic img {
    box-shadow: 3px 3px 3px 0px #AAA;
    width: 100%;
}

.Bio-content {
    flex: 1;
}


.Bio-content ul {
    list-style: none;
    text-align: left;
    display: flex;
    flex-flow: column;
}

.Bio-content a {
    text-decoration: none;
    color: #465058;
    opacity: .7;
    /*margin: 10px;*/
}

.Bio-education {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.Bio-experience {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Bio-content a:hover {
    color: #EB242A;
    cursor: pointer;
}

.Bio-activities {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-bottom: 25px;
    margin-left: 10px;
}

.Bio-activities a {
    text-decoration: none;
    color: #465058;
    opacity: .7;
    margin: 10px;
    font-size: 2em;
}

.Bio-activities a:hover {
    color: #EB242A;
    cursor: pointer;
}

h3 {
    text-align: left;
    margin-left: 40px;
}
@media only screen and (max-width: 900px) {
    .Bio-container {
        flex-direction: column;
    }
    
    .Bio-profile-pic img {
         width: 50%;
         margin-bottom: 25px;
    }

    .Bio-content ul {
        flex-direction: column;
    }
}

@media only screen and (min-width: 940px) {
  .Footer {
    position: absolute !important;
    bottom: 0px;
  }
}
